<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Conway's Game of Life</title>
</head>

<body>
    <div id="global-container">
        <h1>Conway's Game of Life v0.1</h1>
        <h2>(works on PC, needs at least 1600x800 dimensions)</h2>
        <div id="app">
            <div id="pixi-container"></div>
        </div>
        <div id="infos">
            <div id="info-name-pattern">Structure: </div>
            <div id="info-speed-multiplier">Speed Multiplier: 1x</div>
        </div>
        <div id="buttons">
            <button id="button-start" class="button">Start</button>
            <button id="button-stop" class="button">Stop</button>
            <button id="button-speed-up" class="button">Speed up</button>
            <button id="button-slow-down" class="button">Slow down</button>
            <button id="button-switch-pattern" class="button">Switch Pattern</button>
        </div>
    </div>
</body>
</html>
