:root {
    --app-width: 100%;
    --app-height: 800px;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.87);
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--app-width);
    height: var(--app-height);

    overflow: hidden;
    margin: auto;
}

#global-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: auto;
}

#pixi-container {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}
